<div class="card">
    <div class="card-header d-flex justify-content-between" data-type="<%= todo.type %>">
        <div>
            <%= todo.title %>
        </div>
        <div>
            <i class="fas fa-check" data-toggle="check" data-placement="bottom" data-check="<%= todo.check%>" title="체크하기" onclick="location.href='/check/<%=todo._id%>'"></i>
            <i class="fas fa-edit" data-id="<%=todo._id%>" data-toggle="edit" data-placement="bottom" title="수정하기" onclick="location.href='/edit/<%=todo._id%>'"></i>
            <i class="fas fa-trash" data-toggle="trash" data-placement="bottom" title="삭제하기" onclick="location.href='/delete/<%=todo._id%>'"></i>
        </div>
    </div>
    <div class="card-body todo-body">
        <blockquote class="blockquote mb-0">
            <p data-over-date="<%= todo.overDate%>"><%= todo.body %></p>
            <%if(todo.endDate){%>
                <footer class="blockquote-footer"><%= todo.endDate %>까지</footer>
            <%}%>
        </blockquote>
        <div class="icon-box">
            <i class="fas fa-angle-double-up fa-lg icon" data-toggle="double" data-placement="right" title="진짜 급함" onclick="location.href='/realhaste/<%=todo._id%>'"></i>
            <i class="fas fa-angle-up fa-lg icon" data-toggle="up" data-placement="right" title="급함" onclick="location.href='/haste/<%=todo._id%>'"></i>
            <i class="fas fa-angle-down fa-lg icon" data-toggle="down" data-placement="right" title="보통" onclick="location.href='/normal/<%=todo._id%>'"></i>
        </div>
    </div>
</div>